.wrapper {
  position: absolute;
  left: 15px;
  top: -15px;
  border: 2px solid #ce0000;
  border-radius: 41px;
  padding: 12px;
  width: 50%;
  text-align: center;
  background: var(--bg);
  animation: error-animation 0.3s ease-out;

  @media (max-width: 768px) {
    width: 65%;
  }
}

.wrapperBottom {
  position: relative;
  left: 0;
  top: 0;
  margin-top: 20px;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.title {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  color: var(--error-color);
  transition: color var(--dur) ease-in-out;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.descr {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--text-color);
  transition: color var(--dur) ease-in-out;

  @media (max-width: 576px) {
    font-size: 10px;
  }
}

.updWrapper {
  position: relative;
  left: 0;
  top: 0;
  margin-top: 0;
  border: 2px solid #efe71a;
  max-width: 232px;

  .title {
    color: #efe71a;
  }
}

@keyframes error-animation {
  0% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0%);
  }
}