.theme {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  max-width: 85px;
  -webkit-tap-highlight-color: transparent;
}

.theme__icon {
  left: 0.75em;
  top: 0.75em;
  display: block;
  width: 1.5em;
  height: 1.5em;
  transition: transform var(--dur) ease-in-out;
  pointer-events: none;
}

.theme__icon,
.theme__toggle {
  margin: 0;
  border: 0;
  padding: 0;
}

.theme__icon,
.theme__iconPart {
  position: absolute;
}

.theme__iconPart {
  left: calc(50% - 0.5em);
  top: calc(50% - 0.5em);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  box-shadow: 0.4em -0.4em 0 0.5em #fff inset;
  transform: scale(0.5);
  transition:
    box-shadow var(--dur) ease-in-out,
    opacity var(--dur) ease-in-out,
    transform var(--dur) ease-in-out;
}

.theme__iconPart ~ .theme__iconPart {
  left: calc(50% - 0.05em);
  top: 50%;
  border-radius: 0.05em;
  width: 0.1em;
  height: 0.2em;
  box-shadow: none;
  background-color: #fff;
  transform: rotate(0) translateY(0.5em);
  transform-origin: 50% 0;
}

.theme__iconPart:nth-child(3) {
  transform: rotate(45deg) translateY(0.5em);
}

.theme__iconPart:nth-child(4) {
  transform: rotate(90deg) translateY(0.5em);
}

.theme__iconPart:nth-child(5) {
  transform: rotate(135deg) translateY(0.5em);
}

.theme__iconPart:nth-child(6) {
  transform: rotate(180deg) translateY(0.5em);
}

.theme__iconPart:nth-child(7) {
  transform: rotate(225deg) translateY(0.5em);
}

.theme__iconPart:nth-child(8) {
  transform: rotate(270deg) translateY(0.5em);
}

.theme__iconPart:nth-child(9) {
  transform: rotate(315deg) translateY(0.5em);
}

.theme__label,
.theme__toggle,
.theme__toggleWrap {
  position: relative;
  font-size: 15px; /* Настройка размера */
}

.theme__toggle,
.theme__toggle::before {
  display: block;
}

.theme__toggle {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 25% / 50%;
  padding: 0.25em;
  width: 6em;
  height: 3em;
  box-shadow: 0 0 0 0.125em var(--primaryT);
  background-color: #9a8797;
  transition:
    background-color var(--dur) ease-in-out,
    box-shadow var(--dur) ease-in-out,
    transform var(--dur) ease-in-out;
  cursor: pointer;
}

.theme__toggle::before {
  content: "";
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  background-color: #d6bcd2;
  transition: background-color var(--dur) ease-in-out, transform var(--dur) ease-in-out;
}

/* cheked */
.theme__toggle:checked {
  background-color: #664960;
}

.theme__toggle:checked::before,
.theme__toggle:checked ~ .theme__icon {
  transform: translateX(3em);
}

.theme__toggle:checked::before {
  background-color: #281e26;
}

.theme__toggle:checked ~ .theme__icon .theme__iconPart:nth-child(1) {
  box-shadow: 0.2em -0.2em 0 0.2em #fff inset;
  transform: scale(1);
}

.theme__toggle:checked ~ .theme__icon .theme__iconPart ~ .theme__iconPart {
  opacity: 0;
}

.theme__toggle:checked ~ .theme__icon .theme__iconPart:nth-child(2) {
  transform: rotate(45deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__iconPart:nth-child(3) {
  transform: rotate(90deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__iconPart:nth-child(4) {
  transform: rotate(135deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__iconPart:nth-child(5) {
  transform: rotate(180deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__iconPart:nth-child(6) {
  transform: rotate(225deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__iconPart:nth-child(7) {
  transform: rotate(270deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__iconPart:nth-child(8) {
  transform: rotate(315deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__iconPart:nth-child(9) {
  transform: rotate(360deg) translateY(0.8em);
}
