.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  min-height: 150px;
  color: #fff;
  background-color: var(--main-color);
}

.itemBig {
  grid-column: 2 span;
}

.changed {
  background-color: #1d8f1d;
}