.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 80px;
  transition: color var(--dur) ease-in-out;
}

.prevBtn {
  border-radius: 26px;
  padding: 5.5px 75px;
  font-size: 28px;
  color: var(--text-color);
  background-color: var(--btn-color);
  transition: background-color var(--dur) ease-in-out, color var(--dur) ease-in-out;
}