.frame {
  display: block;
  margin: 0 auto;
  border: none;
  width: 100%;
  height: 100%;
  max-width: 988px;
}

.title {
  text-align: center;
  color: var(--text-color);
  transition: color var(--dur) ease-in-out;
}

.updated {
  &::before {
    content: "Updated";
    position: absolute;
    right: 5px;
    top: 120px;
    font-size: calc(var(--index) * 1.3);
    color: #080;
  }

  .frame {
    border: 2px solid #080;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}