:root {
  --index: 1vh + 1vw;
  --light-color: #fff;
  --dark-color: #000;
  --primary: #253df4;
  --primaryT: #253df400;
  --dur: 0.3s;
  --bg: #fff;
  --main-color: #5eaef4;
  --text-color: #000;
  --error-color: #f00;
}

.dark {
  --main-color: #4c30ba;
  --text-color: #fff;
  --error-color: #ffc328;
  --primary: #070f4e;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --bg: #5eaef4;
//   }
// }

html {
  height: 100%;
  box-sizing: border-box;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: background-color var(--dur) ease-in-out;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: calc(var(--index) / 2);
  color: var(--text-color);
  background-color: var(--bg);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  height: 70vh;
}

.emptyBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2 span;
  margin: 0 auto;
}

.emptyTitle {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: var(--error-color);
  transition: color var(--dur) ease-in-out;
}

.emptyDescr {
  font-size: 20px;
  text-align: center;
  color: var(--error-color);
  transition: color var(--dur) ease-in-out;
}