:root {
  --index: 1vh + 1vw;
  --light-color: #fff;
  --dark-color: #000;
  --primary: #070f4e;
  --primaryT: #253df400;
  --dur: 0.3s;
  --bg: #d6bcd2;
  --main-color: #5eaef4;
  --text-color: #000;
  --main-text-color: #2f2d2d;
  --linear-gradient: linear-gradient(185.25deg, #664960 -31.07%, #664960 15.87%, #9a8797 95.79%);
  --btn-color: #9a8797;
  --error-color: #f00;
}

.dark {
  --main-color: #4c30ba;
  --text-color: #fff;
  --main-text-color: #b1b1b1;
  --bg: #281e26;
  --error-color: #ffc328;
  --linear-gradient: linear-gradient(185.25deg, #664960 -31.07%, #664960 15.87%, #9a8797 95.79%);
  --btn-color: #664960;
}

@font-face {
  src: url("../../public/fonts/Roboto-Regular.woff2");
  font-family: "Roboto";
  font-weight: 400;
}

@font-face {
  src: url("../../public/fonts/Roboto-Bold.woff2");
  font-family: "Roboto";
  font-weight: 700;
}

@font-face {
  src: url("../../public/fonts/Roboto-Black.woff2");
  font-family: "Roboto";
  font-weight: 900;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: background-color var(--dur) ease-in-out;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: calc(var(--index) / 2);
  color: var(--text-color);
  background-image: url("../assets/img/bg.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: repeat-y;
  background-color: var(--bg);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1270px;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.items {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 232px);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.wrapper {
  position: relative;
  margin: 0 auto;
  height: 70vh;
}

.emptyBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2 span;
  margin: 0 auto;
}

.emptyTitle {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: var(--error-color);
  transition: color var(--dur) ease-in-out;
}

.emptyDescr {
  font-size: 20px;
  text-align: center;
  color: var(--error-color);
  transition: color var(--dur) ease-in-out;
}