.title {
  font-weight: 700;
  font-size: 20px;
  color: var(--error-color);
  transition: color var(--dur) ease-in-out;
}

.descr {
  color: var(--text-color);
  transition: color var(--dur) ease-in-out;
}